body {
    background-color: rgb(218, 218, 218);
    width: 600px;
    height: auto;
}

ul {
    display: flex; flex-direction: column;
}

li {
    display: flex;
}

h2 {
    padding: 10px;
}